* {
-fx-font-family: 'Comic Sans MS';
}


#Buttons{
-fx-text-fill: #FFA924;
-fx-background-color: #800080;
-fx-border-width: 2px;
-fx-border-color: white;

}
#table{
-fx-background-color: #800080;
}

#colunas{
-fx-text-fill: #800080;
}
#PetShop{
-fx-text-fill: #800080;

}

#cardsArea{
-fx-background-color: #800080;

}

#hbox{
-fx-background-color: #800080;

}

#Vbox{
-fx-background-color: #FFA924;
}

#Login{
-fx-text-fill: #800080;
}

#Entrar{
-fx-text-fill: #FFA924;
-fx-background-color: #800080;
-fx-border-width: 2px;
-fx-border-color: white;
}

#buttons{
-fx-background-color: #FFA924;
-fx-text-fill: #800080;
-fx-border-width: 2px;
-fx-border-color: white;
}

#label{
-fx-text-fill: #FFA924;
}